HELLO <%= current_user.first_name %>!<br />
<%= link_to 'Edit USER', edit_user_registration_path, data: { confirm: "Are you sure?" }, method: :delete, class: 'text-cyan-500' %><br />
<%= render partial: "custom_button", locals: {title: "Sign Out", path: destroy_user_session_path} %><br />
<br />

<p style="color: green"><%= notice %></p>

<% content_for :title, "Clubs" %>

<h1>Clubs</h1>
<div id="clubs">
<% if @user_clubs.present? %>
  <% @user_clubs.each do |club| %>
    <%= render club %>
    <p>
      <%= club.name %>
      <%= render partial: "custom_button", locals: {title: "Show this club", path: club} %>
    </p>
  <% end %>
<% else %>
  NO clubs yet!<br />
  Create a club:
<% end %>
</div>

<%= render partial: "custom_button", locals: {title: "New Club", path: new_club_path} %>
